*{
    margin: 0px;
}

img {
    height: 800px;
    width: 100%;
    position: absolute;
    float: left;
}

.container {
    background-color: white;
    width: 700px;
    position: relative;
    text-align: right;
    float: right;
    margin: 5px;
    font-weight: bold;
}

h1, p {
    padding: 10px;
}